noscript {
  margin: 6px;
  font: italic 12px/28px arial, sans-serif;
}

html {
  min-height: 100%;
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

body,
figure {
  margin: 0;
}

body,
ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  flex: 1;
  margin: auto;
}

figcaption {
  font-size: 90%;
  text-align: center;
  margin-top: 0.5rem;
}

ul {
  margin: auto;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem 0 0;
  /* ((boxes * box width) / pixels per font size - (margin * boxes) / sides + (border width * boxes)) */
  /* ((6 * 200) / 16 - 6 / 2) + (2 * 6) */
  max-width: calc(72rem + 12px);
}

li {
  float: left;
  margin: 1rem;
  display: block;
  line-height: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #000;
}

li::after {
  top: 2px;
  left: 2px;
  z-index: 101;
  cursor: pointer;
  padding: 0.25rem;
  position: absolute;
  display: inline-block;
  content: attr(data-ease);
  font: bold 0.6875rem/1 sans-serif;
}

li::before {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 0;
  content: "";
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 255, 0.2);
  background: #ff0;
  transition: width 0.2s, height 0.2s;
  transition-timing-function: inherit;
}

li:hover::before {
  width: 200px;
  height: 200px;
  transition-duration: 0.5s;
}

li:only-child {
  display: none;
}

canvas {
  max-width: 100%;
  position: relative;
}

