html {
  font: 16px/1.25 arial, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 0.875rem;
  margin: 0;
}

figure {
  left: 50%;
  margin: -180px 0 0 -320px;
  position: absolute;
  text-align: center;
  top: 50%;
}

figcaption {
  margin: 0.5rem;
}

ul {
  height: 360px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 640px;
}

li {
  border: 1px solid #000;
  box-sizing: border-box;
  display: block;
  float: left;
  line-height: 0;
  margin: 9px;
  overflow: hidden;
  position: relative;
}

li::after {
  content: attr(data-ease);
  cursor: pointer;
  display: inline-block;
  left: 2px;
  padding: 0.25rem;
  position: absolute;
  top: 2px;
  font: bold 0.6875rem/1 sans-serif;
  z-index: 101;
}

li::before {
  background: #ff0;
  border-radius: 50%;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  transition-timing-function: inherit;
  top: 50%;
  width: 0;
  z-index: 0;
}

li:hover::before {
  height: 180px;
  transition-duration: 0.5s;
  width: 180px;
}

li:only-child {
  display: none;
}

canvas {
  display: block;
  position: relative;
  z-index: 1;
}

