html {
  font: 16px/1.25 arial, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 0.875rem;
  margin: 0;
}

figure {
  left: 50%;
  margin: -180px 0 0 -320px;
  position: absolute;
  text-align: center;
  top: 50%;
}

figcaption {
  margin: 0.5rem 0 0;
}

ul {
  background: #000;
  color: #fff;
  height: 360px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 640px;
}

li {
  display: block;
  float: left;
  margin: 0.5rem;
  position: relative;
}

li::after {
  content: attr(data-ease);
  cursor: pointer;
  display: inline-block;
  left: 2px;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  font: normal 0.6875rem/1 sans-serif;
  z-index: 101;
}

canvas,
img {
  display: block;
}
